{
    "openapi": "3.0.1",
    "info": {
        "title": "Socnet Plizi",
        "description": "",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://vm1095330.hl.had.pm/api"
        },
        {
            "url": "http://vm1095330.hl.had.pm/api"
        }
    ],
    "tags": [
        {
            "name": "User",
            "description": "Все, что касается пользователей"
        },
        {
            "name": "Friendships",
            "description": "Все, что касается друзей"
        },
        {
            "name": "Communities",
            "description": "Все, что касается сообществ"
        },
        {
            "name": "Posts",
            "description": "Все, что касается публикаций"
        },
        {
            "name": "Chats",
            "description": "Все, что касается диалогов и сообщений"
        },
        {
            "name": "Comments",
            "description": "Все, что касается комментариев"
        },
        {
            "name": "Photo Albums",
            "description": "Все, что касается фотоальбомов"
        },
        {
            "name": "Photo",
            "description": "Все, что касается фотографий"
        },
        {
            "name": "Video",
            "description": "Все, что касается видео"
        }
    ],
    "paths": {
        "/videos": {
            "get": {
                "tags": [
                    "Video"
                ],
                "description": "Список ссылок на видео",
                "operationId": "VideoList",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "list": {
                                                    "$ref": "#/components/schemas/VideoList"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Video"
                ],
                "description": "Сохранить ссылку на видео",
                "operationId": "VideoStore",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "link": {
                                        "type": "string",
                                        "description": "Ссылка на видео"
                                    },
                                    "id": {
                                        "nullable": true,
                                        "type": "integer",
                                        "description": "ID поста (если есть)"
                                    },
                                    "workMode": {
                                        "nullable": true,
                                        "type": "string",
                                        "description": "Если видео находится в посте, то 'post'"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "description": "ID видео"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/photos/{imageUpload}": {
            "delete": {
                "tags": [
                    "Photo"
                ],
                "operationId": "DeletePhoto",
                "description": "Удаление изображения.",
                "parameters": [
                    {
                        "name": "imageUpload",
                        "in": "path",
                        "description": "ID изображения",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Сообщение об успешном удалении."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Сообщение о недостке прав на удаление."
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Изображение по каким-то причинам не было удалено. Возможно оно не принадлежит ни пользователю, ни сообществу."
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/images/{imageId}": {
            "post": {
                "tags": [
                    "Photo"
                ],
                "description": "Лайкнуть изображение пользователя.",
                "operationId": "UserPhotoLike",
                "parameters": [
                    {
                        "name": "imageId",
                        "in": "path",
                        "description": "ID изображения",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Сообщение об успешном лайк/анлайк."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/user/{id}/photos": {
            "get": {
                "tags": [
                    "Photo"
                ],
                "description": "Получить изображения для шапки профиля",
                "operationId": "GetProfileHeaderUserPhotoList",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID пользователя",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "list": {
                                                    "$ref": "#/components/schemas/ImageUploadList"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/user/{user}/photo-albums": {
            "get": {
                "tags": [
                    "Photo Albums"
                ],
                "description": "Получить фотоальбомы пользователя по ID.",
                "operationId": "GetPhotoAlbumsById",
                "parameters": [
                    {
                        "in": "path",
                        "name": "user",
                        "description": "ID пользователя",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "list": {
                                                    "$ref": "#/components/schemas/PhotoAlbumUserList"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/photo-albums/{id}/photos": {
            "post": {
                "tags": [
                    "Photo Albums"
                ],
                "description": "Добавить изображения в альбом",
                "operationId": "PhotoAlbumAddPhoto",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID фотоальбома",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "photosId": {
                                        "type": "object",
                                        "description": "Массив изображений."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "object",
                                                    "description": "Массив изображений с прочими данными."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/photo-albums": {
            "get": {
                "tags": [
                    "Photo Albums"
                ],
                "description": "Получить список фотоальбомов для пользователя",
                "operationId": "PhotoAlbumUserList",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "list": {
                                                    "$ref": "#/components/schemas/PhotoAlbumUserList"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Photo Albums"
                ],
                "description": "Создать фотоальбом",
                "operationId": "PhotoAlbumStore",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "communityId": {
                                        "type": "number",
                                        "description": "Community id если фотоальбом создается в сообществе в ином случае этого поля не должно быть в запросе."
                                    },
                                    "title": {
                                        "type": "string",
                                        "description": "Название фотоальбома. Максимальная длина 100 символов."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Описание фотоальбома. Максимальная длина 500 символов."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "integer",
                                                    "description": "ID нового фотоальбома при успешном создании."
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/photo-albums/community/{community}": {
            "get": {
                "tags": [
                    "Photo Albums"
                ],
                "description": "Получить список фотоальбомов для сообщества",
                "operationId": "PhotoAlbumCommunityList",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID фотоальбома",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "community",
                        "in": "path",
                        "description": "ID сообщества",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "properties": {
                                                "list": {
                                                    "$ref": "#/components/schemas/PhotoAlbumCommunityList"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/photo-albums/{id}": {
            "get": {
                "tags": [
                    "Photo Albums"
                ],
                "description": "Получить фотоальбом",
                "operationId": "GetPhotoAlbum",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID фотоальбома",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PhotoAlbum"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Photo Albums"
                ],
                "description": "Обновление фотоальбома",
                "operationId": "PhotoAlbumUpdate",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID фотоальбома",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "title": {
                                        "type": "string",
                                        "description": "Название фотоальбома. Максимальная длина 100 символов."
                                    },
                                    "description": {
                                        "type": "string",
                                        "description": "Описание фотоальбома. Максимальная длина 500 символов."
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Сообщение об успешном создании."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Photo Albums"
                ],
                "description": "Удаление фотоальбома",
                "operationId": "PhotoAlbumDelete",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID фотоальбома",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Сообщение об успешном удалении."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/user/images/{imageId}/comment": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "operationId": "GetCommentUserImage",
                "description": "Получаем комментарии к изображению пользователя",
                "parameters": [
                    {
                        "name": "imageId",
                        "in": "path",
                        "description": "ID изображения пользователя",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Comment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comments"
                ],
                "operationId": "CommentUserImage",
                "parameters": [
                    {
                        "name": "imageId",
                        "in": "path",
                        "description": "ID изображения пользователя",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCommentOnPost"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Comment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/posts/attachments/{attachmentId}/comment": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "operationId": "GetCommentPostImage",
                "description": "Получаем комментарии к изображению поста",
                "parameters": [
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "description": "ID изображения поста",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Comment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "Comments"
                ],
                "operationId": "CommentPostImage",
                "parameters": [
                    {
                        "name": "attachmentId",
                        "in": "path",
                        "description": "ID изображения поста",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCommentOnPost"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Comment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/comment/{commentId}/like": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "description": "Лайкнуть комментарий.",
                "operationId": "CommentLike",
                "parameters": [
                    {
                        "name": "commentId",
                        "in": "path",
                        "description": "ID комментария",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Сообщение об успешном лайк/анлайк."
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/comment/post": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "description": "Оставить комментарий на пост",
                "operationId": "sendCommentOnPost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateCommentOnPost"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Comment"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/comment/post/{id}": {
            "get": {
                "tags": [
                    "Comments"
                ],
                "description": "Список комментариев у поста",
                "operationId": "getListOfComments",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID поста",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Comment"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/comment/{id}": {
            "patch": {
                "tags": [
                    "Comments"
                ],
                "description": "Редактировать комментарий",
                "operationId": "updateComment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID комментария",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "body": {
                                        "type": "string"
                                    },
                                    "attachmentIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Comments"
                ],
                "description": "Удалить комментарий",
                "operationId": "deleteComment",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID комментария",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/comment/attachments": {
            "post": {
                "tags": [
                    "Comments"
                ],
                "description": "Загрузить файлы",
                "operationId": "uploadCommentAttachments",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "files"
                                ],
                                "properties": {
                                    "files": {
                                        "type": "string",
                                        "description": "files to upload",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "attachmentIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/chat/dialogs": {
            "get": {
                "tags": [
                    "Chats"
                ],
                "description": "Список моих диалогов",
                "operationId": "getListOfDialogs",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Dialogs"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/chat/messages/{dialog_id}": {
            "get": {
                "tags": [
                    "Chats"
                ],
                "description": "Список сообщений в диалоге",
                "operationId": "getListOfDialogMessages",
                "parameters": [
                    {
                        "name": "dialog_id",
                        "in": "path",
                        "description": "ID диалога",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Кол-во записей",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Смещение",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Искомая строка",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "dateStart",
                        "in": "query",
                        "description": "Начало периода",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "dateEnd",
                        "in": "query",
                        "description": "Конец периода",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "list": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Messages"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/chat/send": {
            "post": {
                "tags": [
                    "Chats"
                ],
                "description": "Отправить сообщение",
                "operationId": "sendMessage",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateMessage"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PostByUser"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "field": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": "Here will be error of the field"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/chat/message/user": {
            "post": {
                "tags": [
                    "Chats"
                ],
                "description": "Отправить сообщение пользователю",
                "operationId": "sendMessageToUser",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateMessageToUser"
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PostByUser"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "field": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": "Here will be error of the field"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/chat/open": {
            "post": {
                "tags": [
                    "Chats"
                ],
                "description": "Отдаст или создаст новый диалог с пользователем",
                "operationId": "OpenOrCreateDialog",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "userIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "number"
                                        }
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Dialogs"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "field": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": "Here will be error of the field"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/chat/open/community": {
            "post": {
                "tags": [
                    "Chats"
                ],
                "description": "Отдаст или создаст новый диалог с администраторами сообщества",
                "operationId": "OpenWithCommunityAdmins",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "communityId": {
                                        "type": "number"
                                    },
                                    "name": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "required": false
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Dialogs"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "field": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": "Here will be error of the field"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/chat/message/attachments": {
            "post": {
                "tags": [
                    "Chats"
                ],
                "description": "Загрузить файлы",
                "operationId": "uploadMessageAttachments",
                "requestBody": {
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "files"
                                ],
                                "properties": {
                                    "files": {
                                        "type": "string",
                                        "description": "file to upload",
                                        "format": "binary"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "attachmentIds": {
                                            "type": "array",
                                            "items": {
                                                "type": "number"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "field": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": "Here will be error of the field"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/chat/{id}": {
            "delete": {
                "tags": [
                    "Chats"
                ],
                "description": "Удалить чат",
                "operationId": "deleteChat",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID диалога",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "id": {
                                                    "type": "number"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/chat/dialogs/attendees/append": {
            "post": {
                "tags": [
                    "Chats"
                ],
                "description": "Добавить участника в чат",
                "operationId": "addUserToChat",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chatId": {
                                        "type": "string"
                                    },
                                    "userId": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Dialogs"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/chat/dialogs/attendees/remove": {
            "post": {
                "tags": [
                    "Chats"
                ],
                "description": "Удалить участника из чата",
                "operationId": "removeUserFromChat",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "chatId": {
                                        "type": "string"
                                    },
                                    "userId": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Dialogs"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/favorite/list": {
            "get": {
                "tags": [
                    "Communities"
                ],
                "description": "Список избранных сообществ",
                "operationId": "getCommunitiesFavorite",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "list": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Community"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/favorite/subscribe": {
            "post": {
                "tags": [
                    "Communities"
                ],
                "description": "Добавить сообщество в избранные",
                "operationId": "communitiesFavoriteAdd",
                "requestBody": {
                    "description": "ID сообщества",
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "int64"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Вы добавили сообщество в избранные",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Запрос на добавление в друзья отправлен"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Вы не состоите в данном сообществе",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/communities/favorite/unsubscribe/{groupId}": {
            "delete": {
                "tags": [
                    "Communities"
                ],
                "description": "Удаление сообщества из избранных",
                "operationId": "communitiesFavoriteDelete",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "ID сообщества",
                        "required": true,
                        "schema": {
                            "type": "number"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Вы удалили сообщество из избранных",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Вы удалили сообщество из избранных"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Вы не состоите в данном сообществе",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/requests/list/{groupId}": {
            "get": {
                "tags": [
                    "Communities"
                ],
                "description": "Список запросов на добавление в сообщество",
                "operationId": "getCommunityRequestList",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "ID сообщества",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/requests/create/{groupId}": {
            "post": {
                "tags": [
                    "Communities"
                ],
                "description": "Создание запроса на добавление в сообщество",
                "operationId": "createCommunityRequest",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "ID сообщества",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "description",
                        "in": "query",
                        "description": "Описание",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Запрос создан"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Разное",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/requests/accept/{groupId}/{id}": {
            "patch": {
                "tags": [
                    "Communities"
                ],
                "description": "Прием запроса на добавление в сообщество",
                "operationId": "acceptCommunityRequest",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "ID сообщества",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID запроса",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Запрос принят"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Ошибка принятия запроса",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/requests/reject/{groupId}/{id}": {
            "patch": {
                "tags": [
                    "Communities"
                ],
                "description": "Отклонение запроса на добавление в сообщество",
                "operationId": "rejectCommunityRequest",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "ID сообщества",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID запроса",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "default": "Запрос отклонен"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Ошибка отклонения запроса",
                        "content": {}
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/recommended/list": {
            "get": {
                "tags": [
                    "Communities"
                ],
                "description": "Список рекомендованных сообществ",
                "operationId": "getCommunitiesReccomended",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/offsetParam"
                    },
                    {
                        "$ref": "#/components/parameters/limitParam"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "list": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/Community"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/search/{search}": {
            "get": {
                "tags": [
                    "Communities"
                ],
                "description": "Получить данные пользователя",
                "operationId": "searchCommunity",
                "parameters": [
                    {
                        "in": "path",
                        "name": "search",
                        "schema": {
                            "type": "string"
                        },
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "list": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/User"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/user/news": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "operationId": "NewsList",
                "parameters": [
                    {
                        "name": "onlyLiked",
                        "in": "query",
                        "description": "Возвращать только лайкнутые или нет",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "orderBy",
                        "in": "query",
                        "description": "Сортировка по любым колонкам, например, views или created_at",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PostByUser"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/posts": {
            "post": {
                "tags": [
                    "Posts"
                ],
                "description": "Создать пост",
                "operationId": "createPost",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "body": {
                                        "type": "string"
                                    },
                                    "attachmentIds": {
                                        "type": "array",
                                        "items": {
                                            "type": "number"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PostByUser"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "402": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        },
                                        "errors": {
                                            "type": "object",
                                            "properties": {
                                                "field": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "object",
                                                        "example": "Here will be error of the field"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ],
                "x-codegen-request-body-name": "body"
            }
        },
        "/posts/{id}": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "description": "Посты на моей стене",
                "operationId": "postsById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID Поста",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PostWithAll"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Posts"
                ],
                "description": "Удаление поста",
                "operationId": "deletePost",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID Поста",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/posts/{id}/restore": {
            "get": {
                "tags": [
                    "Posts"
                ],
                "description": "Восстановление поста",
                "operationId": "restorePost",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID Поста",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/posts/{id}/update": {
            "post": {
                "tags": [
                    "Posts"
                ],
                "description": "Обновление поста",
                "operationId": "updatePost",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID Поста",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PostWithAll"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "Authorization": []
                    }
                ]
            }
        },
        "/communities/{id}/posts": {
            "post": {
                "tags": [
                    "Posts"
[...]
