/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

/dist

# Editor directories and files
.idea
.vs

# windows thumbnail cache
Thumbs.db

#targa local settings
#index.html
/public/js/*.LICENSE.txt

/*/*.bak

/design

/public/apl.html
/public/js/app.js
/public/css/app.css

*.js.map
*.css.map

/resources/vue/libs
/public/mix-manifest.json
