@import './ui-kit/plizi-variables.scss';

$bgImage: "/images/plizi-bg-exp.svg";

.loginPage-wrap {
    height: 100%;
    min-height: 800px;
}

.LoginPage,
.UpdatePasswordPage,
.HomePage {
    background-image: url($bgImage);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    .container-fluid {
        max-width: 1008px;
    }
    .modal-dialog-centered {
        width: 100%;
        max-width: 420px;
        margin: 0 auto;
    }
    .modal-body {
        padding: 35px 60px 50px;
    }
    #contentContainer {
        padding-top: 45px;
    }
}

#guestPageWrapper {
    min-height: 100%;

    .navbar-brand {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.update-password-title {
    font-size: 16px;
    font-weight: 700;
    color: #363636;
}

.update-password-form {
    input {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid #d7d7d7;
        padding-left: 48px;
        padding-right: 10px;

        &:focus {
            border-bottom: 1px solid #777777;
            outline: none;
            box-shadow: none;
        }
    }

    .icon {
        position: absolute;
        top: 13px;
        left: 10px;
    }

    .btn-primary {
        border-radius: 34px;
        height: 40px;
        font-size: 12px;
        background-color: #3d51de;
        font-weight: 700;
        transition: .4s;

        &:hover {
            background-color: $linkHoverColor;
            border-color: $linkHoverColor;
        }
    }

    .invalid-feedback {
        position: absolute;
        width: 110%;
        z-index: 1;
    }
}

.update-password-success {
    .update-password-success-icon-checked {
        margin-bottom: 30px;
        width: 52px;
        height: 38px;
        fill: #8dbc6b;
    }

    .update-password-success-message {
        margin-bottom: 27px;
        font-weight: bold;
        font-size: 16px;
        color: $postTextColor;
    }

    .update-password-success-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 278px;
        height: 40px;
        font-weight: bold;
        font-size: 12px;
        border-radius: 20px;
        text-transform: uppercase;
        transition: .4s;

        &:hover {
            background-color: $linkHoverColor;
            border-color: $linkHoverColor;
        }
    }
}


