@font-face {
	font-family: 'OpenSans';
	src: url('../fonts/OpenSans.eot');
	src: local('☺'), 
	url('../fonts/OpenSans.woff') format('woff'), 
	url('../fonts/OpenSans.ttf') format('truetype'), 
	url('../fonts/OpenSans.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Light';
	src: url('../fonts/OpenSans-Light.eot');
	src: local('☺'), 
	url('../fonts/OpenSans-Light.woff') format('woff'), 
	url('../fonts/OpenSans-Light.ttf') format('truetype'), 
	url('../fonts/OpenSans-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Italic';
	src: url('../fonts/OpenSans-Italic.eot');
	src: local('☺'), 
	url('../fonts/OpenSans-Italic.woff') format('woff'), 
	url('../fonts/OpenSans-Italic.ttf') format('truetype'), 
	url('../fonts/OpenSans-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSansLight-Italic';
	src: url('../fonts/OpenSansLight-Italic.eot');
	src: local('☺'), 
	url('../fonts/OpenSansLight-Italic.woff') format('woff'), 
	url('../fonts/OpenSansLight-Italic.ttf') format('truetype'), 
	url('../fonts/OpenSansLight-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Bold';
	src: url('../fonts/OpenSans-Bold.eot');
	src: local('☺'), 
	url('../fonts/OpenSans-Bold.woff') format('woff'), 
	url('../fonts/OpenSans-Bold.ttf') format('truetype'), 
	url('../fonts/OpenSans-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans-Semibold';
	src: url('../fonts/OpenSans-Semibold.eot');
	src: local('☺'), 
	url('../fonts/OpenSans-Semibold.woff') format('woff'), 
	url('../fonts/OpenSans-Semibold.ttf') format('truetype'), 
	url('../fonts/OpenSans-Semibold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}