.plz-last-entry-item  {
    a {
        font-size: 13px;
        line-height: 1.4;
        color: $postTextColor;
        text-decoration: none;
    }
    .text-grey {
        color: #abb1c5;
    }
}
